<form method="post" action="/students">
    <label for="first-name">First name:</label>
    <input id="first-name" type="text" name="first_name"/>

    <label for="last-name">Last name:</label>
    <input id="last-name" type="text" name="last_name"/>

    <label for="house">House:</label>
    <select id="house" name="house">
        <% @houses.each do |house| %>
        <option value="<%= house.id%>"><%= house.name %></option>
        <% end %>
    </select>

    <label for="age">Age:</label>
    <input id="age" type="number" name="age"/>

    <input type="submit" value="Submit"/>

</form>